<% # Unless logged in as admin, the navbar does not contain log in / sign up links, as there is only the admin role for user %>

<div class="navbar navbar-expand-md navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "corona-helper-logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "COVID-19 and You", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Search Helpers", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Reach out to Helpers", "#", class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
