
var results = document.querySelector("#results");
results.innerHTML = "";
results.insertAdjacentHTML("beforeend", `
    <% if params[:search].present? && @physicians_array.first.nil? && @counsellors_array != nil && !@all_physicians %>
      <h5 class="mb-3 mt-4">No results for physicians...</h5>
    <% end %>
    <% unless @all_physicians %>
      <% unless @physicians_array.first.nil? %>
        <% if params[:search].present? %>
          <div>
            <h5 class="mb-3 mt-4">Physicians near <%= @address_real %></h5>
            <div class="card-helpers">
              <% @physicians_array[0...5].each do |physician| %>
                <% unless physician.specialty == nil %>
                  <div class="card-helper pt-3 pb-3">
                    <div class="card-helpers-name d-flex mt-1">  
                      <p class="card-helpers-name-p mb-0"><%= physician.name %></p>
                      <div class="d-flex align-items-center mb-0">
                        <%= image_tag("phone.png", class:"card-helpers-icon mr-1 mb-0") %>
                        <p class="card-helpers-num-p mb-0"><%= physician.number %></p>
                      </div>
                    </div>
                    <p class="mb-0"><%= physician.specialty %></p>
                    <p class="mb-1"><%= physician.address %></p>
                  </div>
                <% end %>
              <% end %>
              <% unless @num_physicians.to_i < 6 %>
                <div class="mt-3">
                  <%= link_to "#{@num_physicians.to_i - 5} more physicians near #{@address_real}", "#{@url_physicians}", :target => "_blank" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if params[:search].present? && @counsellors_array == nil && @physicians_array.first != nil && !@all_physicians %>
      <h5 class="mb-3 mt-4">No results for counsellors...</h5>
    <% end %>
    <% unless @all_physicians %>
      <% unless @counsellors_array.nil? %>
        <% if params[:search].present? %>
          <div>
            <h5 class="mb-3 mt-4">Counsellors near <%= @address_real %></h5>
            <div class="card-helpers">
              <% @counsellors_array[0...5].each do |counsellor| %>
                <% unless counsellor.specialty == nil %>
                  <div class="card-helper pt-3 pb-3">
                    <div class="card-helpers-name d-flex mt-1">  
                      <p class="card-helpers-name-p mb-0"><%= counsellor.name %></p>
                      <div class="d-flex align-items-center mb-0">
                        <%= image_tag("phone.png", class:"card-helpers-icon mr-1 mb-0") %>
                        <p class="card-helpers-num-p mb-0"><%= counsellor.number %></p>
                      </div>
                    </div>
                    <p class="mb-0"><%= counsellor.specialty %></p>
                    <p class="mb-1"><%= counsellor.address %></p>
                  </div>
                <% end %>
              <% end %>
              <% unless @num_counsellors.to_i < 6 %>
                <div class="mt-3">
                  <%= link_to "#{@num_counsellors.to_i - 5} more counsellors near #{@address_real}", "#{@url_counsellors}", :target => "_blank" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% if params[:search].present? && @physicians_array.first.nil? && @counsellors_array.nil? || @all_physicians %>
      <h5 class="mb-3 mt-4">No results found...</h5>
    <% end %>
    `);
