<div class="container">
  <div class="d-flex align-items-center mb-4 mt-4">
    <div class="jumbotron mt-5 banner-card">
      <h1>Get your vaccine without parental approval.</h1>
      <p class="lead">Are your parents skeptical of COVID-19 and forbid you to get a vaccine? Don’t worry, you can get your vaccine without their consent by following these steps:</p>
      <div class="d-flex align-items-center">
        <a href="#info-1"><%= image_tag("bullet-1.png", class: "banner-bullet") %></a>
        <a href="#info-1"><p>Finding out about your rights as an adolescent during COVID-19</p></a>
      </div>
      <div class="d-flex align-items-center">
        <a href="#info-2"><%= image_tag("bullet-2.png", class: "banner-bullet") %></a>
        <a href="#info-2"><p>Using our search function to find local physicians and youth counsellors</p></a>
      </div>
      <div class="d-flex align-items-center">
        <a href="#info-3"><%= image_tag("bullet-3.png", class: "banner-bullet") %></a>
        <a href="#info-3"><p>Reaching out to trustworthy helpers & further information</p></a>
      </div>
    </div>
    <div class="banner-img-div mt-5">
      <%= image_tag("banner-img.png", class: "banner-img") %>
    </div>
  </div>

  <div class="row" id="info-1">
    <div>
      <div class="d-flex">
        <%= image_tag("mace.png", class: "col-md-3 mt-4 mr-4 info-img") %>
        <div class="m-3 mt-4 info-section">
          <h3 class="mb-4">1. COVID-19 and You</h3>
          <h5 class="mb-3 mt-4">COVID-19 vaccines are available for 12 - 17 year-olds</h5>
          <p>The COVID-19 vaccine Cominarty from BioNTech/Pfizer has been authorized for youths aged 12 and older 
          <a href="https://www.ema.europa.eu/en/medicines/human/EPAR/comirnaty" target="_blank"><i class="fas fa-external-link-alt mr-1"></i>by the European Medicines Agency(EMA)</a>. Cominarty has received a recommendation for youths aged 12 and older <a href="https://www.rki.de/DE/Content/Infekt/Impfen/ImpfungenAZ/COVID-19/Infoblatt_Impfung_Kinder_und_Jugendliche.html" target="_blank"><i class="fas fa-external-link-alt mr-1"></i>from the German Standing Committee on Vaccination (STIKO)</a>.</p>
          <h5 class="mb-3 mt-4">You have the right to medical care as an adolescent</h5>
          <p>As a minor it is advised to consult with your parents or legal guardian before a medical procedure. However, should your parents forbid you to receive a medically necessary procedure, you can receive the procedure without their consent, as provided <a href="https://www.gesetze-im-internet.de/bgb/BJNR001950896.html#BJNR001950896BJNG026900377" target="_blank"><i class="fas fa-external-link-alt mr-1"></i>in the German Patient Rights Law</a>. Don't worry, physicians and youth counsellors are here to guide you along the path.</p>
          <h5 class="mb-3 mt-4">Physicians & youth counsellors are here to help</h5>
          <p>With your consent physicians are allowed to perform medical procedures. The physician will judge the necessity of the procedure and your ability to give consent independently of your parents. If these requirements are fulfilled, the procedure can be performed. If you feel insecure about proceeding without guidance, your local youth counsellors are here to help.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" id="info-2">
    <div>
      <div class="d-flex">
        <div class="m-3 mt-4 info-section">
          <h3 class="mb-4">2. Search Physicians & Counsellors</h3>
          <p class="mb-4">I'm baby trust fund before they sold out lo-fi, whatever thundercats godard quinoa food truck live-edge etsy tofu umami leggings vinyl. IPhone gochujang kitsch neutra retro. You probably haven't heard of.</p>
          <%= simple_form_for :address, url: helpers_path, action: "create", html: { class: 'form-inline', autocomplete: "off" } do |f| %>
            <%= f.input :address,
              input_html: {value: "", class: "address-input"},
              placeholder: "Search your town" %>
            <%= f.submit "Search", class: "btn btn-primary align-self-start" %>
          <% end %>
          <div id="map"
            class="mt-4 mb-4"
             style="width: 100%; height: 400px; border-radius: 2px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
          <% if @search.present? %>
            <div id="results">
              <% if @search.present? && @physicians_array.first.nil? && !@counsellors_array.empty? && !@all_physicians %>
                <h5 class="mb-3 mt-4">No results for physicians...</h5>
              <% end %>
              <% unless @all_physicians %>
                <% unless @physicians_array.first.nil? %>
                  <% if @search.present? %>
                    <div>
                      <h5 class="mb-3 mt-4">Physicians near <%= @address_real %></h5>
                      <div class="card-helpers">
                        <% @physicians_array[0...5].each do |physician| %>
                          <% unless physician.specialty == nil %>
                            <div class="card-helper pt-3 pb-3">
                              <div class="card-helpers-name d-flex mt-1">  
                                <p class="card-helpers-name-p mb-0"><%= physician.name %></p>
                                <div class="d-flex align-items-center mb-0">
                                  <%= image_tag("phone.png", class:"card-helpers-icon mr-2 mb-0") %>
                                  <p class="card-helpers-num-p mb-0"><%= physician.number %></p>
                                </div>
                              </div>
                              <p class="mb-0"><%= physician.specialty %></p>
                              <p class="mb-1"><%= physician.address %></p>
                            </div>
                          <% end %>
                        <% end %>
                        <% unless @num_physicians.to_i == @physicians_array.length %>
                          <div class="mt-3">
                            <%= link_to @url_physicians, :target => "_blank" do %>
                              <i class="fas fa-external-link-alt mr-1"></i>
                              <%= "#{@num_physicians.to_i - @physicians_array.length} more physicians near #{@address_real}" %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <% if @search.present? && @counsellors_array.empty? && @physicians_array.first != nil && !@all_physicians %>
                <h5 class="mb-3 mt-4">No results for counsellors...</h5>
              <% end %>
              <% unless @all_physicians %>
                <% unless @counsellors_array.empty? %>
                  <% if @search.present? %>
                    <div>
                      <h5 class="mb-3 mt-4">Counsellors near <%= @address_real %></h5>
                      <div class="card-helpers">
                        <% @counsellors_array[0...5].each do |counsellor| %>
                          <% unless counsellor.specialty == nil %>
                            <div class="card-helper pt-3 pb-3">
                              <div class="card-helpers-name d-flex mt-1">  
                                <p class="card-helpers-name-p mb-0"><%= counsellor.name %></p>
                                <div class="d-flex align-items-center mb-0">
                                  <%= image_tag("phone.png", class:"card-helpers-icon mr-2 mb-0") %>
                                  <p class="card-helpers-num-p mb-0"><%= counsellor.number %></p>
                                </div>
                              </div>
                              <p class="mb-0"><%= counsellor.specialty %></p>
                              <p class="mb-1"><%= counsellor.address %></p>
                            </div>
                          <% end %>
                        <% end %>
                        <% unless @num_counsellors.to_i == @counsellors_array.length %>
                          <div class="mt-3">
                            <%= link_to @url_counsellors, :target => "_blank" do %>
                              <i class="fas fa-external-link-alt mr-1"></i>
                              <%= "#{@num_counsellors.to_i - @counsellors_array.length} more counsellors near #{@address_real}" %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <% if @physicians_array.first.nil? && @counsellors_array.empty? || @all_physicians %>
                <h5 class="mb-3 mt-4">No results found...</h5>
              <% end %>
            </div>
          <% end %>
          </div>
        <%= image_tag("magnifier.png", class: "col-md-3 mt-4 ml-3 info-img") %>
      </div>
    </div>
  </div>

  <div class="row mt-4" id="info-3">
    <div>
      <div class="d-flex">
        <%= image_tag("doctor.png", class: "col-md-3 mt-4 mr-1 info-img-small") %>
        <div class="m-3 mt-4 info-section">
          <h3 class="mb-4" id="info-3">3. Reach out to Helpers</h3>
          <h5 class="mb-3 mt-4">Contact a youth counseller near you & set up a meeting</h5>
          <p>I'm baby trust fund before they sold out lo-fi, whatever thundercats godard quinoa food truck live-edge etsy tofu umami leggings vinyl. IPhone gochujang kitsch neutra retro. You probably haven't heard of them direct trade migas glossier skateboard tote bag chambray. Kale chips tbh bicycle rights, celiac pabst master cleanse viral chillwave.</p>
          <h5 class="mb-3 mt-4">Take a list of local physicians to the meeting with the youth counsellor</h5>
          <p>I'm baby trust fund before they sold out lo-fi, whatever thundercats godard quinoa food truck live-edge etsy tofu umami leggings vinyl. IPhone gochujang kitsch neutra retro. You probably haven't heard of them direct trade migas glossier skateboard tote bag chambray. Kale chips tbh bicycle rights, celiac pabst master cleanse viral chillwave.</p>
          <h5 class="mb-3 mt-4">What now?</h5>
          <p>I'm baby trust fund before they sold out lo-fi, whatever thundercats godard quinoa food truck live-edge etsy tofu umami leggings vinyl. IPhone gochujang kitsch neutra retro. You probably haven't heard of them direct trade migas glossier skateboard tote bag chambray. Kale chips tbh bicycle rights, celiac pabst master cleanse viral chillwave.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div>
      <div class="d-flex">
        <div class="m-3 mt-4 info-section">
          <h3 class="mb-4">Further Information</h3>
          <h5 class="mb-3 mt-4">Online youth counselling</h5>
          <p>I'm baby trust fund before they sold out lo-fi, whatever thundercats godard quinoa food truck live-edge etsy tofu umami leggings vinyl. IPhone gochujang kitsch neutra retro. You probably haven't heard of them direct trade migas glossier skateboard tote bag chambray. Kale chips tbh bicycle rights, celiac pabst master cleanse viral chillwave.</p>
          <h5 class="mb-3 mt-4">How to cope with social isolation during COVID-19</h5>
          <p>I'm baby trust fund before they sold out lo-fi, whatever thundercats godard quinoa food truck live-edge etsy tofu umami leggings vinyl. IPhone gochujang kitsch neutra retro. You probably haven't heard of them direct trade migas glossier skateboard tote bag chambray. Kale chips tbh bicycle rights, celiac pabst master cleanse viral chillwave.</p>
          <h5 class="mb-3 mt-4">Best practices during COVID-19 for youths</h5>
          <p>I'm baby trust fund before they sold out lo-fi, whatever thundercats godard quinoa food truck live-edge etsy tofu umami leggings vinyl. IPhone gochujang kitsch neutra retro. You probably haven't heard of them direct trade migas glossier skateboard tote bag chambray. Kale chips tbh bicycle rights, celiac pabst master cleanse viral chillwave.</p>
        </div>
        <%= image_tag("info.png", class: "col-md-3 mt-4 ml-3 info-img") %>
      </div>
    </div>
  </div>  
</div>
